body {
	background-color: rgb(190, 190, 190);
	background-image: url(../images/whiteAngles.jpg);
	background-repeat: repeat-y;
	font-family: sans-serif;
	color: #fff;
}

#wrapper {
	background-color: rgba(78, 78, 78, 0.22);
	border-radius: 5px;
}

h1 {
	font-family: Audiowide;
	padding-bottom: 0;
	font-size: 3.5em;
	margin-bottom: 0;
}

#accent {
	color: #018aff;
}

#mainContent {
	min-height: 80em;
}

footer {
	text-align: center;
	color: #018aff;
}