body{
	background-color: rgb(190, 190, 190);
	background-image: url(../images/whiteAngles.jpg);
	background-repeat: no-repeat;
	font-family: sans-serif;
	color: #fff;
}

#wrapper{
	background-color: rgba(78, 78, 78, 0.22);
	border-radius: 5px;
}

h1{
	font-family: Audiowide;
	padding-bottom: 0;
  font-size: 4em;
  margin-bottom: 0;
}

#accent{
	color: #018aff;
}

nav{
	background-color: rgba(78, 78, 78, 0.60);
	padding-top: 0;
	font-family: Jura;
	font-size: 2.5em;
	display: flex;
	justify-content:space-evenly;
  text-transform: uppercase;
}

nav > a{
	text-decoration: none;
	color: #fff;
}

nav > a:hover{
  background-color: rgba(1, 138, 255, 0.6);
  
}

#mainContent{
	height: 80em;
}

#contactContent{
  height: 30em;
  width: 80%;
  font-family: sans-serif;
  margin: auto;
  margin-top: 10em;
  background-color: rgba(78, 78, 78, 0.60); 
}

#contactContent > p{
  font-family: Maven Pro;
  font-size: 2.5em;
  text-align: center;
  float: left;
  padding-top: 2.75em;
  padding-left: 1em; 
}

form {
  position: relative; 
  max-width: 500px;
  margin-left: 50%;
  height 20em;
  padding-top: 4em;

}


.feedbackText {
  font-family: Jura;
  font-weight:500;
  font-size: 1.5em;
  border-radius: 5px;
  line-height: 20px;
  background-color: rgba(1, 138, 255, 0.6);
	color: #fff;
  border:2px solid #fff;
  padding: 20px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
 
}

.feedbackText:focus {
	border:2px solid #fff; 
}

textarea {
  height: 100px;
  line-height: 150%;
  resize: vertical;
}

#submit {
	width: 150px;
	height: 50px;
	margin: 0 auto;
	background-color: #f4f6f9;
	border-radius: 16px;
	outline: 0;
}

#submit:hover {
	background-color: rgba(1, 138, 255, 0.6);
	color: #f4f6f9;
}


footer{
	text-align: center; 
	color: #018aff;
}